*,::after ,::before {
    margin: 0px;
    padding: 2px;
    box-sizing: border-box ;
}

body {
    margin: 0 100px;
    background-color:rgb(238, 225, 209);
}

/* Menu */

.nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

}

.nav .logo h1 {
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.nav .logo b {
    color: #ff511c;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 30px;
}

.nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 20px;

}

/* active */

.nav ul .active::before {
    content: '';
    width: 60%;
    height: 2px;
    background-color: #faad96;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 10px;
}

/* input */

input {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;

}

.signin { 
    background: transparent;
    border: none;
}

.signup {
    background-color: #ff511c;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}

/* display */

.content {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content .content-left {
    display:block;
    width:100%;

}

.content .content-left .info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content .content-left .info h2 {
    font-size: 60px;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left .info p {
    font-size: 22px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left button {
    padding: 10px 23px;
    background-color: #ff511c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.content .content-right{
    display: block;
    width: 100%;
    overflow:hidden;
    object-fit: cover;
}

.content .content-right img {
    width: 400px;
    height: auto;
    user-select: none;
    position: relative;
    animation: rotate 10s linear infinite;
    margin-right: 70px;
}

.circle-image {
    width: 100%; /* Set the image width to 100% of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    border-radius: 50%; /* Make the image circular */

}

/* Animation */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* card */

.category {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.category .list-items {
    width: 80%;
    position: relative;
    margin-top: 100px;
}

.category .list-items h3 {
    font-size: 35px;
    font-weight: 200;
    font-family: sans-serif;
    margin-bottom: 70px;

}

.category .list-items .card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.category .card-list .card{
    width: 180px;
    display: block;
    height: 200px;
    margin-top: -40px;
    padding: 10px;
    outline: 2px solid #faad96;
    border-radius: 10px;
    background: white;
    position: relative;
}

.category .card-list .card img {
    width: 100px;
    height: auto;
    left:40px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px #faad96;
    border-radius: 50%;

}

.category .card-list .card .food {
    padding: 40px 0 10px;

}

.category .card-list .card .food h1 {
    text-align:center;
    font-weight:400;
    font-size: 16px;
    font-family:sans-serif;
    margin-top: 100px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #faad96;
}
