*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(238, 225, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Menu */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav .logo h1 {
    font-weight: 300;
    color: black;
    margin: 0;
}

.nav .logo b {
    color: #ff511c;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

/* active */
.nav ul .active::before {
    content: '';
    width: 60%;
    height: 2px;
    background-color: #faad96;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 10px;
}

/* input */
input {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
}

.signin {
    background: transparent;
    border: none;
}

.signup {
    background-color: #ff511c;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}

/* display */
.content {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.content .content-left {
    text-align: center;
}

.content .content-left .info h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.content .content-left .info p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.content .content-left button {
    padding: 10px 20px;
}

.content .content-right {
    text-align: center;
}

.content .content-right img {
    width: 100%;
    height: auto;
}

/* card */
.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category .list-items {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.category .list-items h3 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 20px;
}

.category .list-items .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
}

.category .card-list .card {
    padding: 10px;
    outline: 2px solid #faad96;
    border-radius: 10px;
    background: white;
    position: relative;
}

.category .card-list .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.category .card-list .card .food {
    padding: 10px 0;
}

.category .card-list .card .food h1 {
    font-size: 14px;
    margin-top: 10px;
}

@media only screen and (min-width: 600px) {
    .nav ul li {
        margin-right: 30px;
    }

    .content {
        grid-template-columns: 50% auto;
    }
}

@media only screen and (min-width: 768px) {
    body {
        margin: 0 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .category .list-items {
        width: 80%;
    }
}
